.gs-container {
	position: relative;
	margin: auto;
    padding: 0 10px;
    @include mq(mobileLandscape) {
        padding: 0 20px;
    }
	@include mq(tablet) {
		max-width: 740px;
	}
	@include mq(desktop) {
		max-width: 980px;
	}
	@include mq(leftCol) {
		max-width: 1140px;
	}
	@include mq(wide) {
		max-width: 1300px;
	}
}

.gs-container__top {
	position: relative;
	margin: auto;
	@include mq(tablet) {
		max-width: 740px;
	}
	@include mq(desktop) {
		max-width: 980px;
		padding: 0 0 0 20px;
	}
	@include mq(leftCol) {
		max-width: 1140px;
	}
	@include mq(wide) {
		max-width: 1300px;
	}
}

.content__main-column {
    position: relative;
    @include mq(tablet) {
        max-width: 620px;
    }
    @include mq(desktop) {
        margin-left: 0px;
        margin-right: 310px;
    }
    @include mq(leftCol) {
        margin-left: 150px;
		&::before {
			content:'';
			width: 1px;
			position: absolute;
			left: -10px;
			top: 0;
			bottom: 0;
			background-color: #121212;
		}
    }
    @include mq(wide) {
        margin-left: 230px;
    }
	
}

.audio-label {
	.gs-container .content__main-column::before {
		bottom: -100px;
	}
}