<div class="interactive-wrapper">
    <div class="header__wrapper">
        <div class="header__inner gs-container__top">
            <div class="left">
                <div class="text-wrapper">
                    <div>
                        <h2>Exclusive extract</h2>
                        <h1>Silverview</h1>
                        <h2>The final novel by <span>John le Carré</span></h2>
                    </div>
                </div>
                <div class="standfirst">
                    <div class="standfirst__tag">
                        <p>Books</p>
                    </div>
                    <p class="standfirst__inner">Morals and duty clash in le Carré’s tale of a bookseller caught in a spy leak. Read the first chapter<br><span>Illustrations: Bill Bragg</span></p>
                </div>
            </div>
            <div class="right">
                <div class="rain-wrapper">
                    <div class="back-row-toggle splat-toggle">
                        <div class="rain front-row"></div>
                        <div class="rain back-row"></div>
                    </div>
                </div>
                <div class="image-wrapper">
                    <img class="frame-one" src="<%= path %>/carre_frame1.jpg" alt="">
                    <img class="frame-two" src="<%= path %>/carre_frame2.jpg" alt="">
                    <img class="frame-three" src="<%= path %>/carre_frame3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    
    <div class="content__wrapper">
        <div class="meta__wrapper show-mobile">
            <div class="content__meta-container js-content-meta u-cf content__main-column">
                <div class="meta__contact-wrap">
                    <p class="content__dateline" aria-hidden="true">
                        <time itemprop="datePublished" datetime="2021-10-07T11:54:50+0100" data-timestamp="1633604090000" class="content__dateline-wpd js-wpd">
                        Sat 9 Oct 2021 <span class="content__dateline-time">09:45&nbsp;BST</span>
                        </time>
                    </p>
                    <meta itemprop="dateModified" content="2021-10-07T11:54:49+0100">
                </div>
                <div class="meta__extras">
                    <div class="meta__social" data-component="share">
                        <ul class="social social--top js-social--top u-unstyled u-cf" data-component="social">
                            <li class="social__item social__item--facebook " data-link-name="facebook">
                            <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Foct%2F09%2Fthey-told-me-i-was-grown-up-enough-to-keep-a-secret-exclusive-extract-from-silverview-john-le-carres-final-novel%3FCMP%3Dshare_btn_fb" target="_blank" title="Facebook">
                                <span class="inline-icon__fallback button">Share on Facebook</span>
                                <span class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook">
                                    <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg">
                                        <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path>
                                    </svg>
                                </span>
                            </a>
                            </li>
                            <li class="social__item social__item--twitter " data-link-name="twitter">
                            <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://twitter.com/intent/tweet?text=%E2%80%98They%20told%20me%20I%20was%20grown%20up%20enough%20to%20keep%20a%20secret%E2%80%99%3A%20exclusive%20extract%20from%20Silverview%2C%20John%20le%20Carr%C3%A9%E2%80%99s%20final%20novel&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Foct%2F09%2Fthey-told-me-i-was-grown-up-enough-to-keep-a-secret-exclusive-extract-from-silverview-john-le-carres-final-novel%3FCMP%3Dshare_btn_tw" target="_blank" title="Twitter">
                                <span class="inline-icon__fallback button">Share on Twitter</span>
                                <span class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter">
                                    <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg">
                                        <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path>
                                    </svg>
                                </span>
                            </a>
                            </li>
                            <li class="social__item social__item--email " data-link-name="email">
                            <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="mailto:?subject=%E2%80%98They%20told%20me%20I%20was%20grown%20up%20enough%20to%20keep%20a%20secret%E2%80%99%3A%20exclusive%20extract%20from%20Silverview%2C%20John%20le%20Carr%C3%A9%E2%80%99s%20final%20novel&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Foct%2F09%2Fthey-told-me-i-was-grown-up-enough-to-keep-a-secret-exclusive-extract-from-silverview-john-le-carres-final-novel%3FCMP%3Dshare_btn_link" target="_blank" title="Email">
                                <span class="inline-icon__fallback button">Share via Email</span>
                                <span class="inline-share-email inline-icon rounded-icon centered-icon social-icon social-icon--email">
                                    <svg width="32" height="32" viewBox="0 0 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--email__svg inline-share-email__svg inline-icon__svg">
                                        <path d="M23.363 20.875H8.637v-8.938l6.545 5.687h1.637l6.544-5.687v8.938zm-1.635-9.75L16 16l-5.728-4.875h11.456zM23.363 9.5H8.637L7 11.125v9.75L8.637 22.5h14.727L25 20.875v-9.75L23.363 9.5z"></path>
                                    </svg>
                                </span>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="meta__numbers">
                        <div class="u-h meta__number js-sharecount">
                        </div>
                        <div class="u-h meta__number" data-discussion-id="/p/j5jny" data-commentcount-format="content" data-discussion-closed="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="audio-label">
            <div class="gs-container">
                <div class="content__main-column">
                    <h3>Listen to the audio version</h3>
                    <h3>Narrated by Toby Jones</h3>
                </div>
            </div>
        </div>
        <div class="audio-wrapper">
            <div class="gs-container">
                <div class="audio-player content__main-column">
                    
                    <div class="controls">
                      <div class="play-container">
                        <div class="toggle-play play">
                            <svg class="play-icon" width="27" height="23" viewBox="0 0 27 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.6218 12.0689V10.9314L1.2719 0.450195L0.337524 1.18144V21.8189L1.2719 22.4689L26.6218 12.0689Z" fill="#AB061C"/>
                            </svg>                                
                            <svg class="pause-icon" width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6 0H1.5L0 1.57143V22H6V0Z" fill="#AB061C"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13 22H17.5L19 20.4286V0H13V22Z" fill="#AB061C"/>
                            </svg>
                                
                      </div>
                      </div>
                      <div class="audio-right">
                        <div class="timeline">
                            <div class="progress"></div>
                          </div>
                        <div class="time">
                            <div class="current">0:00</div>
                            <div class="divider">/</div>
                            <div class="length"></div>
                          </div>
                      </div>
                    </div>
                  </div>
                <!-- <audio id="player" class="content__main-column" src="<%= path %>/silverview-chapter-one.mp3" type="audio/mpeg" controls="controls" controlsList="nodownload" controlsList="novolume">Your browser does not support the audio element.</audio> -->
            </div>
        </div>
        <div class="gs-container">
            <div class="content__main-column">
                <div class="meta__wrapper show-leftcol">
                    <div class="content__meta-container js-content-meta u-cf">
                        <div class="meta__contact-wrap">
                            <p class="content__dateline" aria-hidden="true">
                                <time itemprop="datePublished" datetime="2021-10-07T11:54:50+0100" data-timestamp="1633604090000" class="content__dateline-wpd js-wpd">
                                Sat 9 Oct 2021 <span class="content__dateline-time">09:45&nbsp;BST</span>
                                </time>
                            </p>
                            <meta itemprop="dateModified" content="2021-10-07T11:54:49+0100">
                        </div>
                        <div class="meta__extras">
                            <div class="meta__social" data-component="share">
                                <ul class="social social--top js-social--top u-unstyled u-cf" data-component="social">
                                    <li class="social__item social__item--facebook " data-link-name="facebook">
                                    <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Foct%2F09%2Fthey-told-me-i-was-grown-up-enough-to-keep-a-secret-exclusive-extract-from-silverview-john-le-carres-final-novel%3FCMP%3Dshare_btn_fb" target="_blank" title="Facebook">
                                        <span class="inline-icon__fallback button">Share on Facebook</span>
                                        <span class="inline-share-facebook inline-icon rounded-icon centered-icon social-icon social-icon--facebook">
                                            <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--facebook__svg inline-share-facebook__svg inline-icon__svg">
                                                <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                    </li>
                                    <li class="social__item social__item--twitter " data-link-name="twitter">
                                    <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="https://twitter.com/intent/tweet?text=%E2%80%98They%20told%20me%20I%20was%20grown%20up%20enough%20to%20keep%20a%20secret%E2%80%99%3A%20exclusive%20extract%20from%20Silverview%2C%20John%20le%20Carr%C3%A9%E2%80%99s%20final%20novel&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Foct%2F09%2Fthey-told-me-i-was-grown-up-enough-to-keep-a-secret-exclusive-extract-from-silverview-john-le-carres-final-novel%3FCMP%3Dshare_btn_tw" target="_blank" title="Twitter">
                                        <span class="inline-icon__fallback button">Share on Twitter</span>
                                        <span class="inline-share-twitter inline-icon rounded-icon centered-icon social-icon social-icon--twitter">
                                            <svg width="32" height="32" viewBox="-2 -2 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--twitter__svg inline-share-twitter__svg inline-icon__svg">
                                                <path d="M21.3 10.5v.5c0 4.7-3.5 10.1-9.9 10.1-2 0-3.8-.6-5.3-1.6.3 0 .6.1.8.1 1.6 0 3.1-.6 4.3-1.5-1.5 0-2.8-1-3.3-2.4.2 0 .4.1.7.1l.9-.1c-1.6-.3-2.8-1.8-2.8-3.5.5.3 1 .4 1.6.4-.9-.6-1.6-1.7-1.6-2.9 0-.6.2-1.3.5-1.8 1.7 2.1 4.3 3.6 7.2 3.7-.1-.3-.1-.5-.1-.8 0-2 1.6-3.5 3.5-3.5 1 0 1.9.4 2.5 1.1.8-.1 1.5-.4 2.2-.8-.3.8-.8 1.5-1.5 1.9.7-.1 1.4-.3 2-.5-.4.4-1 1-1.7 1.5z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                    </li>
                                    <li class="social__item social__item--email " data-link-name="email">
                                    <a class="social__action js-social__action--top social-icon-wrapper" data-link-name="social top" href="mailto:?subject=%E2%80%98They%20told%20me%20I%20was%20grown%20up%20enough%20to%20keep%20a%20secret%E2%80%99%3A%20exclusive%20extract%20from%20Silverview%2C%20John%20le%20Carr%C3%A9%E2%80%99s%20final%20novel&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fbooks%2Fng-interactive%2F2021%2Foct%2F09%2Fthey-told-me-i-was-grown-up-enough-to-keep-a-secret-exclusive-extract-from-silverview-john-le-carres-final-novel%3FCMP%3Dshare_btn_link" target="_blank" title="Email">
                                        <span class="inline-icon__fallback button">Share via Email</span>
                                        <span class="inline-share-email inline-icon rounded-icon centered-icon social-icon social-icon--email">
                                            <svg width="32" height="32" viewBox="0 0 32 32" class="rounded-icon__svg centered-icon__svg social-icon__svg social-icon--email__svg inline-share-email__svg inline-icon__svg">
                                                <path d="M23.363 20.875H8.637v-8.938l6.545 5.687h1.637l6.544-5.687v8.938zm-1.635-9.75L16 16l-5.728-4.875h11.456zM23.363 9.5H8.637L7 11.125v9.75L8.637 22.5h14.727L25 20.875v-9.75L23.363 9.5z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="meta__numbers">
                                <div class="u-h meta__number js-sharecount">
                                </div>
                                <div class="u-h meta__number" data-discussion-id="/p/j5jny" data-commentcount-format="content" data-discussion-closed="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ #Content }}
                {{ #paragraph }}
                <p class="{{ dropcap }}">{{{ paragraph }}}</p>
                {{ /paragraph }}
                {{ #inlineImage }}
                <div class="inline-pic stick-me">
                    <img src="{{ inlineImage }}" alt="{{ inlineImageCaption }}">
                    <!-- <small class="caption">{{ inlineImageCaption }}</small> -->
                </div>
                {{ /inlineImage }}
                {{ #pullQuote }}
                <h2 class="pullQuote"><svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.50566 0H10.4815C9.88255 4.74547 9.35272 9.39878 9.12235 14.605H0C0.829305 9.53701 2.55702 4.74547 5.50566 0ZM17.0933 0H22C21.4702 4.74547 20.8712 9.39878 20.6409 14.605H11.5416C12.486 9.53701 14.1446 4.74547 17.0933 0Z" fill="#8B0000"/>
                    </svg>{{ pullQuote }}</h2>
                {{ /pullQuote }}
                {{ /Content }}

                <div class="onward-journeys">
                    <h3 class="title">More from John le Carré</h3>
                    <div class="lecarre-links">
                        <a href="https://www.theguardian.com/p/jxmnv" class="card-wrapper" data-link-name="lecarre onward link 1">
                            <img src="https://media.guim.co.uk/bef8c5e0ace80fb146b4c8b5e322b3c3c1c1db25/705_1273_4765_2858/1000.jpg" alt="">
                            <h3>Fintan O’Toole on John le Carré’s final twist: dying as an Irishman</h3>
                        </a>
                        <a href="https://www.theguardian.com/p/tzb5k" class="card-wrapper" data-link-name="lecarre onward link 2">
                            <img src="https://media.guim.co.uk/faf76e9097ff3389d2e3610f3669363c462bfeff/324_152_4218_2531/1000.jpg" alt="">
                            <h3>‘The twists and turns are riveting’: Stephen King, Paula Hawkins and others on their favourite le Carré</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>