<div class="interactive-wrapper">
    <div class="header__wrapper">
        <div class="header__inner gs-container__top">
            <div class="left">
                <h1>Lorem ipsum sit amen</h1>
                <div class="standfirst">
                    <div class="standfirst__tag">
                        <p>Books</p>
                    </div>
                    <p class="standfirst__inner">The transformation of Greta Thunberg<br> <span class="standfirst__byline">Words: <a href="https://www.theguardian.com/profile/simonhattenstone">Simon Hattenstone</a><br>Portraits: Marcus Ohlsson</span></p>
                </div>
            </div>
            <div class="right">
                <div class="rain-wrapper">
                    <div class="back-row-toggle splat-toggle">
                        <div class="rain front-row"></div>
                        <div class="rain back-row"></div>
                    </div>
                </div>
                <img class="frame-one" src="<%= path %>/billbragg-test.jpg" alt="">
                <img class="frame-two" src="<%= path %>/billbragg-test-2.jpg" alt="">
                <img class="frame-three" src="<%= path %>/billbragg-test-3.jpg" alt="">
            </div>
        </div>
    </div>
    
    <div class="content__wrapper">
        <div class="audio-label">
            <div class="gs-container">
                <div class="content__main-column">
                    <h3>Listen to the audio version</h3>
                    <h3>Narrated by Firstname Surname</h3>
                </div>
            </div>
        </div>
        <div class="audio-wrapper">
            <div class="gs-container">
                <audio id="player" class="content__main-column" src="<%= path %>/silverview-chapter-one.mp3" type="audio/mpeg" controls="controls" controlsList="nodownload"></audio>
            </div>
        </div>
        <div class="gs-container">
            <div class="content__main-column">
                <p class="dropcap-me">At ten o’clock of a rainswept morning in London’s West End, a young woman in a baggy anorak, a woollen scarf pulled up around her head, strode resolutely into the storm that was roaring down South Audley Street. Her name was Lily and she was in a state of emotional anxiety which at moments turned to outrage. With one mittened hand she shielded her eyes from the rain while she glowered at door numbers, and with the other steered a plastic-covered pushchair that contained Sam, her two-year- old son. Some houses were so grand they had no numbers at all. Others had numbers but belonged to the wrong street.</p>
                <p>Arriving at a pretentious doorway with its number painted with unusual clarity on one pillar, she climbed the steps backwards, hauling the pushchair after her, scowled at a list of names beside the owners’ bell buttons, and jabbed the lowest.</p>
                <p>‘Just give the door a push, dear,’ a kindly woman’s voice advised her over the speaker.</p>
                <p>‘I need Proctor. She said Proctor or no one,’ Lily said, straight back.</p>
                <p>‘Stewart’s on his way now, dear,’ the same soothing voice announced, and seconds later the front door opened to reveal a stalky, bespectacled man in his mid-fifties, with a leftward lean to his body, and a long beakish head tilted in semi- humorous enquiry. A matronly woman with white hair and a cardigan stood at his shoulder.</p>
                <p>At ten o’clock of a rainswept morning in London’s West End, a young woman in a baggy anorak, a woollen scarf pulled up around her head, strode resolutely into the storm that was roaring down South Audley Street. Her name was Lily and she was in a state of emotional anxiety which at moments turned to outrage. With one mittened hand she shielded her eyes from the rain while she glowered at door numbers, and with the other steered a plastic-covered pushchair that contained Sam, her two-year- old son. Some houses were so grand they had no numbers at all. Others had numbers but belonged to the wrong street.</p>
                <p>Arriving at a pretentious doorway with its number painted with unusual clarity on one pillar, she climbed the steps backwards, hauling the pushchair after her, scowled at a list of names beside the owners’ bell buttons, and jabbed the lowest.</p>
                <p>‘Just give the door a push, dear,’ a kindly woman’s voice advised her over the speaker.</p>
                <img class="inline-pic stick-me" src="<%= path %>/billbragg-test-dropin.jpg" alt="">
                <p>‘I need Proctor. She said Proctor or no one,’ Lily said, straight back.</p>
                <p>‘Stewart’s on his way now, dear,’ the same soothing voice announced, and seconds later the front door opened to reveal a stalky, bespectacled man in his mid-fifties, with a leftward lean to his body, and a long beakish head tilted in semi- humorous enquiry. A matronly woman with white hair and a cardigan stood at his shoulder.</p>
                <p>At ten o’clock of a rainswept morning in London’s West End, a young woman in a baggy anorak, a woollen scarf pulled up around her head, strode resolutely into the storm that was roaring down South Audley Street. Her name was Lily and she was in a state of emotional anxiety which at moments turned to outrage. With one mittened hand she shielded her eyes from the rain while she glowered at door numbers, and with the other steered a plastic-covered pushchair that contained Sam, her two-year- old son. Some houses were so grand they had no numbers at all. Others had numbers but belonged to the wrong street.</p>
                <p>Arriving at a pretentious doorway with its number painted with unusual clarity on one pillar, she climbed the steps backwards, hauling the pushchair after her, scowled at a list of names beside the owners’ bell buttons, and jabbed the lowest.</p>
                <p>‘Just give the door a push, dear,’ a kindly woman’s voice advised her over the speaker.</p>
                <p>‘I need Proctor. She said Proctor or no one,’ Lily said, straight back.</p>
                <p>‘Stewart’s on his way now, dear,’ the same soothing voice announced, and seconds later the front door opened to reveal a stalky, bespectacled man in his mid-fifties, with a leftward lean to his body, and a long beakish head tilted in semi- humorous enquiry. A matronly woman with white hair and a cardigan stood at his shoulder.</p>
            </div>
        </div>
    </div>
</div>